.ResetPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://wallpapercave.com/wp/wp2259047.jpg);
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
    padding: 16px 50px;
}

.chapters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 12px;
}

.chapter {
    width: 100%;
    /* Ensure the width stays consistent */
    max-width: 500px;
    /* Set a maximum width */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    /* Smooth height transition */
    max-height: 20000px;
    /* Initial height */
}

.story-image {
    width: 100%;
    object-fit: cover;
    transition: height 0.5s ease-in-out;
}


.restart-button {
    background: #FF8E53;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    transition: background 0.3s ease;
}